@charset "utf-8";
/* CSS Document */


body {
margin: 0;
padding: 0;
line-height:1.4;
color:#333;
font-family:Arial, sans-serif;
font-size:0.9em;
background-color:#F3F3F3;
font-family: gotham,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"MS Pゴシック","MS PGothic",helvetica,arial,sans-serif;

}
p{
	margin: 0px;
}

.size{
	width: 950px;
    margin: 0 auto;
    text-align: center;

}
h1{
	font-size: 30px;
	margin: 0px;
	font-family: caecilia,Times,serif;
	color: #6a6a6a;
}

.color2 p{
	width: 950px;
    margin: 0 auto;
}
textarea {
width: 300px;
height: 10em;

}

table td{
	margin: 20px;
}

.big{ 
	font-size: 20px;
	margin: 0px;
}
#right{
float:right;
}

.border { border-style : dotted;
      border-width : 5px;
      padding : 5px;
}



#top{
	margin-top: 10px;
}

.box{
	
	background-color: #FFFFFF;
	text-align: center;
	height: 230px;
	width: 300px;
	position: relative;left: 325px;
	
	border-radius: 2px;


}
#box{
	
	text-align: center;
}
#up{
	margin-top: 120px;
}
.button{
	color: #fff;
    background-color:#2DBE60 ;
    border-color: #1b9848;
    width: 70%;
    border-radius: 7px;
    line-height: 2.75;
    font-size: 1.33333333rem;
    font-style: normal;
    font-weight: 500;

}

.button:hover{
	color: #fff;
background-color:#28a956;
border-color: #1b9848;
    width: 70%;
    border-radius: 7px;
    line-height: 2.75;
    font-size: 1.33333333rem;
    font-style: normal;
    font-weight: 500;
}


.text{
	border-radius: 7px;
	line-height: 1.1875;
	font-size: 1.33333333rem;
	width: 200px;
	
	color: #3b3b3b;
	margin-top: 20px;

}