body{
  font-family: "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", "MS PGothic", sans-serif;
  padding: 0;
  margin: 0;
}

#size{
  width:950px;
  margin: 0 auto;
}

#headerImg{
  float: left;
  display: block;
  width:100%;
}

#form{
  float: left;
  display: block;
  width:60%;
  height:300px;
}

#threads{
  float: left;
  display: block;
  width:100%;
  
}
.clear{
  clear: both;
}

#facebook{
  float: left;
  text-align: center;
}
#google{
  float: left;
  width:40%;
  text-align: left;
}

footer{
  text-align: center;
  /* background-color: #ff0000; */
}

