@charset "utf-8";
/* CSS Document */

/* 一括で全ての要素の余白をゼロに指定 */
* { margin: 0; padding: 0; }
/* 文字 */
p {
		line-height: 1.5em;
		margin-bottom: 0.5em;
}

ul {
		margin-left: 2em;
		margin-bottom: 1em;
}

ol {
		margin-left: 2.5em;
		margin-bottom: 1em;
}

li {
		line-height: 1.5em;
		margin-bottom: 0.5em;
}

img { border: 0; }

/* 全体的なリンク */
a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a { overflow: hidden; }
a:link { color: #00f; }
a:visited { color: #90f; }
a:hover { color: #f00; }
a:active { color: #f00; }

.clear { clear: both; }

/* -------------------------------------------------------------
   [1] レイアウトに関する指定 */
body {
		text-align: center;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		padding: 0;
		margin: 0;
}
#wrapper{
	width: 950px;
		margin: 0 auto;
		padding: 0 10px;
		background-image: url(../img/bg-wrap.jpg);
		background-repeat: no-repeat;
		background-position: 0 90px;
}

#header {
		position: relative;
		width: 100%;
		
		
		background-repeat: no-repeat;
		background-position: 0 100%;
}


textarea {
width: 300px;
height: 10em;
}

table td{
	margin: 20px;
}



.box1{
	float: left;
}

.box2{
	float: left;
}

.box3{
	clear:left;
}
.box4{
	float: right;
}

.boxsize{
	float: left;
	width:60%;
	0px;
}

.threadtitle{
	background-color: #DDDDDD;
	margin: 0px;
}



.threadwaku{
	background-color: #F4F4F4;
	width: 40%;
	float: left;
}

.color8{
background-color: #DDDDDD;
}
